<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <div class="ws-meilisearch-rag">
        <h2 class="h4 mb-3">
            <f:translate key="LLL:EXT:ws_meilisearch/Resources/Private/Language/locallang.xlf:rag.form.heading"/>
        </h2>

        <f:render partial="Rag/Thread" arguments="{conversation: conversation}"/>
        <f:render partial="Rag/Form" arguments="{question: question, conversation: conversation, conversationEnabled: conversationEnabled}"/>
    </div>
</f:section>

</html>
