<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link {f:if(condition: '{active} == \'index\'', then: 'active')}" href="{indexUrl}">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {f:if(condition: '{active} == \'test\'', then: 'active')}" href="{testUrl}">Test search &amp; RAG</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {f:if(condition: '{active} == \'diagnose\'', then: 'active')}" href="{diagnoseUrl}">Diagnostics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {f:if(condition: '{active} == \'knowledgeResources\'', then: 'active')}" href="{knowledgeResourcesUrl}">Wissens-Resourcen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {f:if(condition: '{active} == \'ragtests\'', then: 'active')}" href="{ragTestsUrl}">RAG tests</a>
    </li>
</ul>
</html>
